<div class="tile">
	<div class="img">
		<img src="{{ TimberImage(site.desktop_image)|resize(600,600, 'top') }}" alt="">
	</div>
	<div class="caption">
		<h3 class="title">{{ site.title }}</h3>
		<p class="url">{{ site.url }}</p>
		<p class="description">{{ site.post_content }}</p>
	</div>
</div>
