<div class="tile">
	<div class="img">
		<img src="{{ site.desktopScreenshot }}" alt="">
	</div>
	<div class="caption">
		<h3 class="title">{{ site.title }}</h3>
		<a class="url" target="_blank" href="{{ site.url }}">{{ site.url }}</a>
		<p class="description">{{ site.description }}</p>
	</div>
</div>
