.tile {
	@include grid-column(4);
	background: #0000FF;
	margin-bottom: 1rem;

	@include grid-media($mobile) {
		@include grid-column(4);
	}

	img {
		width: 100%;
		max-width: 100%;
	}

	.caption {
		height: 200px;
		overflow-y: scroll;
		padding: 0 2rem;

		.title{
			margin: 0.8em 0 0.25em 0;

			font-family: Arial-BoldMT;
			font-size: 2.8rem;
			color: #FFFFFF;
			letter-spacing: -1px;
			line-height: 1em;

		}

		.url {
			margin-top: 0;

			font-family: ArialMT;
			font-size: 1.8rem;
			color: #FFFFFF;
			letter-spacing: -0.42px;
		}

		.description {
			font-family: ArialMT;
			font-size: 18px;
			color: #FFFFFF;
			letter-spacing: -0.42px;
			line-height: 24px;
		}
	}
}
