.tile {
	@include grid-column(5);
	background: #0000FF;
	margin-bottom: 1rem;

	img {
		width: 100%;
		max-width: 100%;
	}

	.caption {
		padding: 0 2rem;

		.title{
			margin: 2rem 0 0 0;

			font-family: Arial-BoldMT;
			font-size: 3.9rem;
			color: #FFFFFF;
			letter-spacing: -1px;
			line-height: 3.9rem;

		}

		.url {
			margin-top: 0;

			font-family: ArialMT;
			font-size: 1.8rem;
			color: #FFFFFF;
			letter-spacing: -0.42px;
		}

		.description {
			font-family: ArialMT;
			font-size: 18px;
			color: #FFFFFF;
			letter-spacing: -0.42px;
			line-height: 24px;
		}
	}
}
