.modal {
	position: fixed;
	top: 10em;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	height: 0;
	pointer-events: none;

	border-top: 2px solid black;

	.close {
		background: #FFF;
		padding-right: 1em;

		font-family: ArialMT;
		font-size: 16px;
		line-height: 2em;
		color: #000;
		text-align: right;

		cursor: pointer;
	}

	img {
		height: auto;
		width: 95vw;

		@include grid-media($mobile) {
			width: 90vw;
			max-height: 70vh;
		}
	}

	&.-show {
		opacity: 1;
		height: auto;
		width: auto;
		pointer-events: all;
	}
}
