{% extends "master.twig" %}

{% block content %}

	<div class="tile">
		<div class="img">
			<img src="http://unsplash.it/573/530" alt="">
		</div>
		<div class="caption">
			<p>Cool website</p>
			<p>www.coolwebsite.com</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>


{% endblock %}
